{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
  <nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/' %}active{% endif %}"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a 
            class="nav-link {% if request.resolver_match.url_name == 'school_list' %}active{% endif %}"
            href="{% url 'school_list' %}"
            >Schulen</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'teacher_list' %}active{% endif %}"
            href="{% url 'teacher_list' %}"
            >Lehrkräfte</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'candidate_list' %}active{% endif %}"
            href="{% url 'candidate_list' %}"
            >Ersatzlehrkräfte</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'substitution_list' %}active{% endif %}"
            href="{% url 'substitution_list' %}"
            >Stellvertretungen</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'substitution_create' %}active{% endif %}"
            href="{% url 'substitution_create' %}"
            >Stellvertretung finden</a
          >
        </li>
      </ul>
      <!-- Right-aligned items -->
      <ul class="navbar-nav ms-auto">
        {% if not request.user.is_authenticated %}
        <!-- User is not logged in -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% else %}
        <!-- User is logged in -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <br>
  {% if messages %}
    {% for message in messages %}
    <div id="toastMessage" class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true">
          {{ message }}
    </div>
    {% endfor %}
  {% endif %}

    {% block content %}{% endblock %}
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const toastElList = [].slice.call(document.querySelectorAll('.toast'))
      const toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl).show();
      });
    });
    </script>
</html>
