{% load static %}
{% load user_tags %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container-fluid">
      <ul class="navbar-nav">        
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'school_management:substitution_candidates_list' %}active{% endif %}" href="{% url 'school_management:substitution_candidates_list' %}">Stellvertretungen</a>
        </li>
        {% if request.user|is_in_group:"school-admins" %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'school_management:substitution_admin_list' %}active{% endif %}" href="{% url 'school_management:substitution_admin_list' %}">Stellvertretungen (Verwaltung)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'school_management:candidate_list' %}active{% endif %}" href="{% url 'school_management:candidate_list' %}">Stellensuchende</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'school_management:school_list' %}active{% endif %}" href="{% url 'school_management:school_list' %}">Schulen</a>
          </li>
        {% endif %}
      </ul>
      
      <!-- Right-aligned items -->
      <ul class="navbar-nav ms-auto">
        {% if not request.user.is_authenticated %}
        <!-- User is not logged in -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% else %}
        <!-- User is logged in -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <br>

  {% block content %}{% endblock %}

  <!-- Footer with version number -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy; Statistisches Amt Basel-Stadt<span style="float:right; font-size: smaller;">v0.0.6 (25.6.24)</span></span>
    </div>
  </footer>

  {% if messages %}
    <script>
        $(document).ready(function() {
            {% for message in messages %}
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                }
                toastr.success("{{ message|escapejs }}");
            {% endfor %}
        });
    </script>
  {% endif %}
</body>
</html>
