{% extends "base.html" %} 
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="col-md-6 offset-md-3">
  <h2>Bewerbung bearbeiten</h2>
  <div class="form-container">
    <table class="table table">
      <tr>
        <th>Bewerbung von</th>
        <td><a href="{% url 'school_management:candidate_detail' pk=application.candidate.id %}">{{ application.candidate }}</a></td>
      </tr>
      <tr>
        <th>Bewerbung verschickt am</th>
        <td>{{ application.request_date }}</td>
      </tr>
      <tr>
        <th>Bewerbungstext</th>
        <td>{{ application.request_text }}</td>
      </tr>
    </table>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      
      <div class="form-group">
        <button type="submit" name="action" value="send" class="btn btn-primary">Antwort Senden</button>
        <button type="submit" name="action" value="save" class="btn btn-primary">Speichern</button>
        <button type="button" class="btn btn-secondary" onclick="history.back()">Zurück</button>
      </div>
      &nbsp;&nbsp;
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const response_type = document.getElementById('id_response_type');
    const response_text = document.getElementById('id_response_text');

    // Define the default texts based on the response type
    const antworten = {
      '1': '{{ antworten.bestaetigung|escapejs }}',
      '2': '{{ antworten.absage|escapejs }}',
      '3': '{{ antworten.annahme|escapejs }}'
    };

    // Function to update response text
    function updateResponseFields() {
      const selectedType = response_type.value;
      if (antworten[selectedType]) {
        response_text.value = antworten[selectedType];
      }
    }

    // Track whether the dropdown has been interacted with
    let dropdownInteracted = false;

    // Mark the dropdown as interacted when the user focuses on it
    response_type.addEventListener('focus', function () {
      dropdownInteracted = true;
    });

    // Update response text only if the dropdown has been interacted with
    response_type.addEventListener('change', function () {
      if (dropdownInteracted) {
        updateResponseFields();
      }
    });
  });
</script>

<style>
  .float-right {
    float: right;
  }
</style>
{% endblock %}
