{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="info-container">
    <h2>Bewerbung</h2>
    <table class="info-table">
        <tr>
            <th>Stellvertretung Dauer:</th>
            <td>{{ application.substitution.start_date }} bis {{ application.substitution.end_date }}</td>
        </tr>
        <tr>
            <th>Bewerbung von:</th>
            <td>{{ application.candidate.fullname }}</td>
        </tr>
        <tr>
            <th>Bewerbung am:</th>
            <td>{{ application.request_date }}</td>
        </tr>
        <tr>
            <th>Bewerbungstext:</th>
            <td>{{ application.request_text  }}</td>
        </tr>
        <tr>
            <th>Antwort:</th>
            <td>{{ application.response_type  }}</td>
        </tr>
        <tr>
            <th>Antwort Datum:</th>
            <td>{{ application.response_date  }}</td>
        </tr>
        <tr>
            <th>Antwort Text:</th>
            <td>{{ application.response_text }}</td>
        </tr>
        </tr>
    </table>
    <br>
    <a href="javascript:history.back()" class="btn btn-primary">Zurück</a>
    <a href="{% url 'school_management:application_edit' pk=application.pk %}" class="btn btn-primary" action="confirm">Bestätigen</a>
    <a href="{% url 'school_management:application_edit' pk=application.pk %}" class="btn btn-primary" action="accept">Annehmen</a>
    <a href="{% url 'school_management:application_edit' pk=application.pk %}" class="btn btn-primary" action="reject">Ablehnen</a>
    <a href="{% url 'school_management:application_edit' pk=application.pk %}" class="btn btn-primary" action="edit">Editieren</a>
  </div> 
</div>

{% endblock content %}
