{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="info-container">
    <h2>Bewerbung</h2>
    <table class="table">
        <tr>
            <th>Stellvertretung Dauer:</th>
            <td>{{ application.substitution.start_date }} bis {{ application.substitution.end_date }}</td>
        </tr>
        <tr>
            <th>Bewerbung von:</th>
            <td>{{ application.candidate.fullname }}</td>
        </tr>
        <tr>
            <th>Bewerbung am:</th>
            <td>{{ application.request_date }}</td>
        </tr>
        <tr>
            <th>Bewerbungstext:</th>
            <td>{{ application.request_text  }}</td>
        </tr>
        <tr>
            <th>Antwort:</th>
            <td>{{ application.response_type  }}</td>
        </tr>
        <tr>
            <th>Antwort Datum:</th>
            <td>{{ application.response_date  }}</td>
        </tr>
        <tr>
            <th>Antwort Text:</th>
            <td>{{ application.response_text }}</td>
        </tr>
        </tr>
    </table>
    <br>
    <a href="javascript:history.back()" class="btn btn-primary">Zurück</a>
  </div> 
</div>

{% endblock content %}
