{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="col-md-6 offset-md-3">
  <div class="form-container">
    <h4>Antwort auf Bewerbung #{{ application.substitution.id }} vom {{ application.substitution.start_date|date:"d.m.y"  }} bis {{ application.substitution.end_date|date:"d.m.y" }}</h4>
    Schule: {{ substitution.school }}<br>
    Bewerbung von: {{ application.candidate.fullname }}<br><br>
    Gesendet am: {{ application.request_date }}<br><br>
    Text: {{ application.request_text }}<br><br>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="application_id" value="{{ application.id }}">

      {{ form|crispy }}
      <div class="d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-info" onclick="setDefaultText('Absagen')">Absagen</button>
          <button type="button" class="btn btn-info" onclick="setDefaultText('Zusagen')">Zusagen</button>
          <button type="button" class="btn btn-info" onclick="setDefaultText('Bestätigung')">Bestätigung</button>
        </div>
        <button type="submit" name="action" value="apply" class="btn btn-success">
          Abschicken
        </button>
      </div>
      <a href="javascript:history.back()" class="btn btn-secondary mt-2">
        <i class="fas fa-arrow-left"></i> Zurück
      </a>
    </form>
  </div>
</div>

<script>
  function setDefaultText(action) {
    let defaultText;
    defaultText = "Guten Tag {{ application.candidate.fullname }}\n\nBesten Dank für Ihre Bewerbung auf das Vikariat #{{ application.id }} vom {{ application.substitution.start_date }} bis {{ application.substitution.end_date }} . "
    switch(action) {
      case 'Absagen':
        defaultText += 'Wir haben einige andere interessante Bewerbungen erhalten und müssen Dir leider mitteilen, dass wir Deine nicht berücksichtigen können. Wir würden uns aber freuen, sehr bald von Dir eine andere Bewerbung zu erhalten und hoffen, dass es dann klappt.';
        break;
      case 'Zusagen':
        defaultText += 'Es freut uns Ihnen mitzuteilen, dass wir sie für dieses Vikariat berücksichtigen werden. Bitte setzen sie sich baldmöglichst telefonisch mit uns in Verbindung.';
        break;
      case 'Bestätigung':
        defaultText = 'Wir werden Ihnen bis spätestens <DATUM> mitteilen, ob wir Sie für diese Stellvertretung berücksichtigen können.';
        break;
    }
    defaultText += "\n\nmit freundlichen Grüssen\n{{ author }}"
    document.querySelector('textarea[name="answer_text"]').value = defaultText;
  }
</script>
{% endblock %}
