{% extends "base.html" %}
{% block title %}Lehrkraft-Stellvertretung{% endblock title %}
{% load custom_filters %}

{% block content %}
<div class="table-container">
    <h2>Kandidatinnen für Stellvertretungen ({{candidates|length}})</h2>
    <br>
      <form method="get" action="">
        <table id="candidates" class="table table-striped">
            <thead>
                <tr>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Jahrgang</th>
                    <th>Verfügbarkeit</th>
                    <th>Von</th>
                    <th>Bis</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th></th>
                </tr>
                <tr> <!-- Filter inputs row -->
                    <th><input type="text" name="last_name_filter" value="{{ request.GET.last_name_filter }}"></th>
                    <th><input type="text" name="first_name_filter" value="{{ request.GET.first_name_filter }}"></th>
                    <th><input type="text" name="year_filter" value="{{ request.GET.year_filter }}"></th>
                    <th></th>
                    <th><input type="text" name="available_from_filter" value="{{ request.GET.email_filter }}"></th>
                    <th><input type="text" name="avaialable_to_filter" value="{{ request.GET.email_filter }}"></th>
                    <th></th>
                    <th></th>
                    <th>  
                      <button type="submit" class="btn btn-primary">
                        <i class="fas fa-filter"></i>
                      </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                <tr>
                  <td><a href="{% url 'school_management:candidate_detail' pk=candidate.pk %}">{{ candidate.last_name }}</a></td>
                    <td>{{ candidate.first_name }}</td>
                    <td>{{ candidate.year_of_birth }}</td>
                    <td>
                      <table>
                        <tr>
                            <td>{% if candidate.availability_mo_am %}◉{% else %}○{% endif %}</td>
                            <td>{% if candidate.availability_tu_am %}◉{% else %}○{% endif %}</td>
                            <td>{% if candidate.availability_we_am %}◉{% else %}○{% endif %}</td>
                            <td>{% if candidate.availability_th_am %}◉{% else %}○{% endif %}</td>
                            <td>{% if candidate.availability_fr_am %}◉{% else %}○{% endif %}</td>
                        </tr>
                        <tr>
                          <td>{% if candidate.availability_mo_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if candidate.availability_tu_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if candidate.availability_we_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if candidate.availability_th_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if candidate.availability_fr_pm %}◉{% else %}○{% endif %}</td>
                      </tr>
                    </table>
                    </td>
                    <td>{{ candidate.available_from_date }}</td>
                    <td>{{ candidate.available_to_date }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.phone_number }}</td>
                    <td><a href="{% url 'school_management:candidate_edit' pk=candidate.pk %}" title="Profil editieren"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    </table>    
    
  {% endblock %}

