{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="info-container">
    <table class="info-table">
        <tr>
            <th>Nachname:</th>
            <td>{{ candidate.last_name }}</td>
        </tr>
        <tr>
            <th>Vorname:</th>
            <td>{{ candidate.first_name }}</td>
        </tr>
        <tr>
            <th>Jahrgang:</th>
            <td>{{ candidate.year_of_birth }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ candidate.email }}</td>
        </tr>
        <tr>
            <th>Telefon:</th>
            <td>{{ candidate.phone_number }}</td>
        </tr>
        <tr>
          <th>Verfügbar von :</th>
          <td>{{ candidate.available_from_date }}</td>
        </tr>
        <tr>
          <th>Verfügbar von :</th>
          <td>{{ candidate.available_to_date }}</td>
        </tr>
        <tr>
          <th>Wochentage:</th>
        <td>
          <table>
            <tr>
                <td>{% if candidate.availability_mo_am %}◉{% else %}○{% endif %}</td>
                <td>{% if candidate.availability_tu_am %}◉{% else %}○{% endif %}</td>
                <td>{% if candidate.availability_we_am %}◉{% else %}○{% endif %}</td>
                <td>{% if candidate.availability_th_am %}◉{% else %}○{% endif %}</td>
                <td>{% if candidate.availability_fr_am %}◉{% else %}○{% endif %}</td>
            </tr>
            <tr>
              <td>{% if candidate.availability_mo_pm %}◉{% else %}○{% endif %}</td>
              <td>{% if candidate.availability_tu_pm %}◉{% else %}○{% endif %}</td>
              <td>{% if candidate.availability_we_pm %}◉{% else %}○{% endif %}</td>
              <td>{% if candidate.availability_th_pm %}◉{% else %}○{% endif %}</td>
              <td>{% if candidate.availability_fr_pm %}◉{% else %}○{% endif %}</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
  </div>

  <br><br>
  <div class="container mt-5">
    <!-- Tab links -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="subjects-tab" data-bs-toggle="tab" href="#subjects" role="tab" aria-controls="subjects" aria-selected="true">Fächer</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="certificates-tab" data-bs-toggle="tab" href="#certificates" role="tab" aria-controls="certificates" aria-selected="false">Abschlüsse</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="substitutions-tab" data-bs-toggle="tab" href="#substitutions" role="tab" aria-controls="substitutions" aria-selected="false">Stellvertretungen</a>
       </li>
       <!--
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="cv-tab" data-bs-toggle="tab" href="#cv" role="tab" aria-controls="cv" aria-selected="false">Curriculum Vitae</a>
        </li>
        -->
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="subjects" role="tabpanel" aria-labelledby="subjects-tab">
        <br><p>{{candidate.fullname}} unterrichtet folgende Fächer:</p>
        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Fach</th>
                  <th>Stufe</th>
              </tr>
          </thead>
          <tbody>
              {% for ps in subjects.all %}
              <tr>
                  <td>{{ ps.subject.name }}</td>
                  <td>{{ ps.subject.school_year }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="certificates" role="tabpanel" aria-labelledby="certificates-tab">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Jahr</th>
              <th>Abschluss</th>
            </tr>
          </thead>
          <tbody>
            {% for certificate in certificates.all %}
            <tr>
              <td>{{ certificate.year }}</td>
              <td>{{ certificate.certificate.name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="substitutions" role="tabpanel" aria-labelledby="substitution-tab">
        <p>{{candidate.fullname}} hat folgende Stellvertretungen durchgeführt:</p>
        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Schule</th>
                  <th>Datum</th>
                  <th>Zeit</th>
                  <th>Vertretung von</th>
                  <th>Fach</th>
                  <th>Klasse</th>
              </tr>
          </thead>
          <tbody>
              {% for sp in substitutions.all %}
              <tr>
                  <td>{{ sp.lesson.school.name }}</td>  
                  <td>{{ sp.lesson.date }}</td>
                  <td>{{ sp.lesson.period }}</td>
                  <td>{{ sp.substitution.teacher.fullname }}</td>
                  <td>{{ sp.lesson.subject.name }}</td>
                  <td>{{ sp.lesson.school_class.name }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <!--
      <div class="tab-pane fade" id="cv" role="tabpanel" aria-labelledby="cv-tab">
          <h3>Curriculum Vitae von {{ candidate.fullname }}</h3>
          <p>{{ candidate.cv_text }}</p>
          <a href="{{ candidate.cv_file.url }}" target="_blank">Curriculum ansehen</a>
      </div></br>
      -->
      <a href="{% url 'school_management:candidate_list' %}" class="btn btn-primary">Zurück</a>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
