{% extends "base.html" %}
{% block title %}Lehrkraft-Stellvertretung{% endblock title %}
{% load custom_filters %}

{% block content %}
<div class="table-container">
    <h2>Kandidaten für Stellvertretungen ({{candidates|length}})</h2>
    <br>
      <form method="get" action="">
        <table id="candidates" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Jahrgang</th>
                    <th>Anstellung</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Editieren</th>
                </tr>
                <tr> <!-- Filter inputs row -->
                    <th><input type="text" name="name_filter" value="{{ request.GET.name_filter }}"></th>
                    <th><input type="text" name="year_filter" value="{{ request.GET.year_filter }}"></th>
                    <th><input type="text" name="is_teacher_filter" value="{{ request.GET.is_teacher_filter }}"></th>
                    <th><input type="text" name="email_filter" value="{{ request.GET.email_filter }}"></th>
                    <th><input type="text" name="phone_filter" value="{{ request.GET.phone_filter }}"></th>
                    <th><input type="submit" value="Filter"></th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                <tr>
                  <td><a href="{% url 'candidate_detail' pk=candidate.pk %}">{{ candidate.fullname }}</a></td>
                    <td>{{ candidate.year_of_birth }}</td>
                    <td>{{ candidate.is_teacher|boolean_to_ja_nein }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.phone_number }}</td>
                    <td><a href="{% url 'candidate_edit' pk=candidate.pk %}" class="btn btn-primary">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    </table>    
    
  {% endblock %}

