{% extends "base.html" %} {% load static %} {% block title%}
Lehrkraft-Stellvertretung {% endblock title %} {% block content %}
<div class="table-container">
  <br />
  <h1>Administration TeachMatch</h1>
  <b>🚧Testseite, Testdaten🚧</b>
  <br/>
  <br/>
  <img
    src="{% static 'images/classroom1.jpg' %}"
    alt="Classroom"
    class="img-fluid"
  />

  <div class="info-text">
    <p>
      Willkommen bei TeachMatch, Ihrer Plattform, um schnell und einfach
      Ersatzlehrkräfte zu finden. Wir vernetzen Schulen mit qualifizierten
      Lehrkräften, um Ausfallzeiten zu minimieren und die Kontinuität des
      Unterrichts zu gewährleisten.
    </p>
    <p>
      Diese Applikation wird im Rahmen der Digitalisierungsprojekte des
      <a
        href="https://digital-basel.ch/"
        target="_blank"
        rel="noopener noreferrer"
        >DigiLabs Basel-Stadt</a
      >
      entwickelt.Sämtliche Daten auf dieser Seite sind Testdaten und dienen nur
      zu Demonstrationszwecken.
    </p>
  </div>
</div>
{% endblock content%}
