{% extends "base.html" %}
{% block content %}
<div class="info-container">
  <b><p>{{ school.name }}</p></b>
  <p>{{ school.level }}</p>
  <p>{{ school.address }}</p>
  <p>{{ school.location }}</p>
  <a href="{% url 'school_management:school_list' %}" class="btn btn-primary">Zurück</a>
</div>
<br /><br />

<div class="container mt-5">
  <!-- Tab links -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="substitutions-tab"
        data-bs-toggle="tab"
        href="#substitutions"
        role="tab"
        aria-controls="substitutions"
        aria-selected="true"
        >Stellvertretungen</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="teachers-tab"
        data-bs-toggle="tab"
        href="#teachers"
        role="tab"
        aria-controls="teachers"
        aria-selected="false"
        >LehrerInnen</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="classes-tab"
        data-bs-toggle="tab"
        href="#classes"
        role="tab"
        aria-controls="classes"
        aria-selected="false"
        >Klassen</a
      >
    </li>
  </ul>

  <!-- Tab content -->
  <div class="tab-content" id="myTabContent">
    
    <div
      class="tab-pane fade show active"
      id="substitutions"
      role="tabpanel"
      aria-labelledby="substitutions-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Lehrerin</th>
            <th>von</th>
            <th>bis</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for s in substitutions %}
          <tr>
            <td><a href="{% url 'school_management:teacher_detail' pk=s.teacher.id %}">{{ s.teacher.fullname }}</a></td>
            <td>{{ s.start_date }}</td>
            <td>{{ s.end_date }}</td>
            <td>{{ s.status.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div
      class="tab-pane fade"
      id="teachers"
      role="tabpanel"
      aria-labelledby="teachers-tab"
    >
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Name</th>
              <th>Belegung</th>
          </tr>
      </thead>
      <tbody>
          {% for teacher in teachers %}
          <tr>
              <td>
                  <a href="{% url 'school_management:teacher_detail' pk=teacher.id %}">{{ teacher.fullname }}</a>
              </td>
              <td>
                  <table>
                      <tr>
                          <td>{% if teacher.availability_mo_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_tu_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_we_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_th_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_fr_am %}◉{% else %}○{% endif %}</td>
                      </tr>
                      <tr>
                          <td>{% if teacher.availability_mo_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_tu_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_we_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_th_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_fr_pm %}◉{% else %}○{% endif %}</td>
                      </tr>
                  </table>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
    </div>


    <div
      class="tab-pane fade"
      id="classes"
      role="tabpanel"
      aria-labelledby="classes-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Klassenlehrer*In</th>
          </tr>
        </thead>
        <tbody>
          {% for school_class in school_classes %}
          <tr>
            <td>{{ school_class.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
