{% extends "base.html" %}
{% block content %}
<div class="info-container">
  <table class="table">
    <tr>
      <th>Name:</th>
      <td>{{ school.name }}</td>
    </tr>
    <tr>
      <th>Stufe:</th>
      <td>{{ school.level }}</td>
    </tr>
    <tr>
      <th>Adresse:</th>
      <td>{{ school.address }}</td>
    </tr>
    <tr>
      <th>Ort:</th>
      <td>{{ school.location }}</td>
    </tr>
    <tr>
      <th>Telefon:</th>
      <td>{{ school.phone_number }}</td>
    </tr>
    <tr>
      <th>Mobile:</th>
      <td>{{ school.mobile }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ school.email }}</td>
    </tr>
    <tr>
      <th>URL:</th>
      <td><a href = "{{ school.url }}">Webseite</a></td>
    </tr>
  </table>  
  <br />
    <a href="javascript:history.back()" class="btn btn-secondary">
      <i class="fas fa-arrow-left"></i> Zurück
    </a>
</div>
<br /><br />

<div class="container mt-5">
  <!-- Tab links -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="substitutions-tab"
        data-bs-toggle="tab"
        href="#substitutions"
        role="tab"
        aria-controls="substitutions"
        aria-selected="true"
        >Stellvertretungen ({{ substitutions|length }})</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="teachers-tab"
        data-bs-toggle="tab"
        href="#teachers"
        role="tab"
        aria-controls="teachers"
        aria-selected="false"
        >LehrerInnen ({{teachers|length}})</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="classes-tab"
        data-bs-toggle="tab"
        href="#classes"
        role="tab"
        aria-controls="classes"
        aria-selected="false"
        >Klassen ({{school_classes|length}})</a
      >
    </li>
  </ul>

  <!-- Tab content -->
  <div class="tab-content" id="myTabContent">
    
    <div
      class="tab-pane fade show active"
      id="substitutions"
      role="tabpanel"
      aria-labelledby="substitutions-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Lehrerin</th>
            <th>von</th>
            <th>bis</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for s in substitutions %}
          <tr>
            <td><a href="{% url 'school_management:teacher_detail' pk=s.teacher.id %}">{{ s.teacher.fullname }}</a></td>
            <td>{{ s.start_date }}</td>
            <td>{{ s.end_date }}</td>
            <td>{{ s.status.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div
      class="tab-pane fade"
      id="teachers"
      role="tabpanel"
      aria-labelledby="teachers-tab"
    >
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Name</th>
              <th>Belegung</th>
          </tr>
      </thead>
      <tbody>
          {% for teacher in teachers %}
          <tr>
              <td>☆☆☆☆☆
                  <a href="{% url 'school_management:teacher_detail' pk=teacher.id %}">{{ teacher.fullname }}</a>
              </td>
              <td>
                  <table>
                      <tr>
                          <td>{% if teacher.availability_mo_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_tu_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_we_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_th_am %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_fr_am %}◉{% else %}○{% endif %}</td>
                      </tr>
                      <tr>
                          <td>{% if teacher.availability_mo_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_tu_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_we_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_th_pm %}◉{% else %}○{% endif %}</td>
                          <td>{% if teacher.availability_fr_pm %}◉{% else %}○{% endif %}</td>
                      </tr>
                  </table>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
    </div>


    <div
      class="tab-pane fade"
      id="classes"
      role="tabpanel"
      aria-labelledby="classes-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for school_class in school_classes %}
            <tr>
              <td>{{ school_class.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
