{% extends "base.html" %}
{% block title %}Lehrkraft-Stellvertretung{% endblock title %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container">
    <h4 class="mt-4">{{ substitutions|length }} offene Stellvertretungen</h4>
    <br>
    {% if not request.user.is_authenticated %}
    <div class="alert alert-info" role="info">
        <b></b>Willkommen beim Stellvertretungsportal der Zentralen Brückenangebote des Kantons Basel-Stadt!</b><br>
        Um dich für eine Stellvertretung zu bewerben, musst du dich zuerst einloggen. Falls du noch kein Konto in unserem Portal hast, kannst du gerne eines beantragen. Kontaktiere dazu bitte Anna Muster (079 999-999, hans.muster@meineschule.ch).
    </div>
    {% endif %}
    
    <br>
    <form method="get" action="" class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="school_filter">Schule</label>  
                <select class="form-select" name="school_filter">
                    <option value="">Schule</option>
                    {% for x in schools %}
                        <option value="{{ x.id }}" {% if request.GET.school_filter == x.id|stringformat:"s" %}selected{% endif %}>
                            {{ x.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="date_from_filter">Von</label>
                <input type="date" class="form-control" name="date_from_filter" value="{{ request.GET.date_from_filter }}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="date_to_filter">Bis</label>
                <input type="date" class="form-control" name="date_to_filter" value="{{ request.GET.date_to_filter }}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="subject_filter">Fächer</label>
                <select class="form-select" name="subject_filter">
                    <option value="">---</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.name_short }}" {% if request.GET.subject_filter == subject.name_short|stringformat:"s" %}selected{% endif %}>
                            {{ subject.name }}
                        </option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-md-12 text-end">
                <button type="submit" class="btn btn-primary">Suchen</button>
            </div>
        </div>
    </form>

    <div class="list-group">
        {% for substitution in substitutions %}
        <div class="list-group-item list-group-item-action mb-3 faint-green-bg">
            <h5 class="mb-2 d-flex justify-content-between">
                <span>{{ substitution.start_date|date:"d.m.y" }} - {{ substitution.end_date|date:"d.m.y" }} (<a href="{{ substitution.school.url }}" target="_blank">{{ substitution.school.name }}</a>)</span>
                <span class="text-right">ref: {{ substitution.id }}</span>
            </h5>
            <table class="faint-green-bg">
                <tr>
                    <th scope="row" style="width: 30%;">Dauer:</th>
                    <td style="width: 70%;">{{ substitution.start_date|date:"d.m" }} ({{substitution.start_date|weekday}}) - {{ substitution.end_date|date:"d.m.y" }} ({{substitution.end_date|weekday}})</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Stundenplan:</th>
                    <td style="width: 70%;">
                        <div class="d-flex">
                            <table>
                                <tr>
                                    <td>{% if substitution.mo_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.tu_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.we_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.th_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.fr_am %}◉{% else %}○{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>{% if substitution.mo_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.tu_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.we_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.th_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.fr_pm %}◉{% else %}○{% endif %}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                  <th scope="row" style="width: 30%;">Teilübernahme möglich:</th>
                  <td style="width: 70%;">{{ substitution.partial_substitution_possible  | boolean_to_ja_nein}}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Fächer:</th>
                    <td style="width: 70%;">{{ substitution.subjects_cli }}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Klassen:</th>
                    <td style="width: 70%;">{{ substitution.classes_cli }}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Ort:</th>
                    <td style="width: 70%;">{{ substitution.school.location }}</td>
                </tr>
            </table>
            
            {% if substitution.summary %}
                <button class="btn btn-link mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ substitution.id }}" aria-expanded="false" aria-controls="collapse{{ substitution.id }}">
                    Weitere Infos
                </button>
                <div class="collapse" id="collapse{{ substitution.id }}">
                    <div class="card card-body">
                        <p>{{substitution.summary}}</p>
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <br>
                <a href="{% url 'school_management:application_create' substitution.id %}" class="btn btn-custom-green float-right me-2">
                        Bewerben
                    </a>
                </a>
            {% endif %}  
        </div>
        {% endfor %}
    </div>
{% endblock %}
