{% extends "base.html" %}
{% block title %}Lehrkraft-Stellvertretung{% endblock title %}
{% load custom_filters %}
{% load user_tags %}

{% block content %}
<div class="container">
    <h1 class="mt-4">{{ substitutions|length }} offene Stellvertretungen</h1>
    <br>
    <form method="get" action="" class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="school_filter">Schule</label>  
                <select class="form-select" name="school_filter">
                    <option value="">Schule</option>
                    {% for x in schools %}
                        <option value="{{ x.id }}" {% if request.GET.school_filter == x.id|stringformat:"s" %}selected{% endif %}>
                            {{ x.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="level_filter">Zyklus</label>
                <select class="form-select" name="level_filter">
                    <option value="">Stufe</option>
                    {% for l in levels %}
                        <option value="{{ l.name_short }}" {% if request.GET.level_filter == l.name_short %}selected{% endif %}>
                            {{ l.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="availability_filter">Wochentage</label>
                <select class="form-select" name="availability_filter">
                    <option value="">Verfügbarkeit</option>
                    {% for availability in availabilities %}
                        <option value="{{ availability.id }}" {% if request.GET.availability_filter == availability.id|stringformat:"s" %}selected{% endif %}>
                            {{ availability.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="date_from_filter">Von</label>
                <input type="date" class="form-control" name="date_from_filter" value="{{ request.GET.date_from_filter }}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="date_to_filter">Bis</label>
                <input type="date" class="form-control" name="date_to_filter" value="{{ request.GET.date_to_filter }}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="subject_filter">Fächer</label>
                <select class="form-select" name="subject_filter">
                    <option value="">---</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}" {% if request.GET.subject_filter == subject.id|stringformat:"s" %}selected{% endif %}>
                            {{ subject.name }}
                        </option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-md-12 text-end">
                <button type="submit" class="btn btn-primary">Suchen</button>
            </div>
        </div>
    </form>

    <div class="list-group">
        {% for substitution in substitutions %}
        <div class="list-group-item list-group-item-action mb-3">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h5 class="mb-2">{{ substitution.start_date|date:"d.m.y" }} - {{ substitution.end_date|date:"d.m.y" }} (<a href="{{ substitution.school.url }}" target="_blank">{{ substitution.school.name }}</a>)</h5>
                <small></small>
            </div>
            <table class="table table-borderless mt-2 mb-0">
                <tr>
                    <th scope="row" style="width: 30%;">Stufe:</th>
                    <td style="width: 70%;">{{ substitution.levels }}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Dauer:</th>
                    <td style="width: 70%;">{{ substitution.start_date|date:"d.m" }} - {{ substitution.end_date|date:"d.m.y" }}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Stundenplan:</th>
                    <td style="width: 70%;">
                        <div class="d-flex">
                            <table>
                                <tr>
                                    <td>{% if substitution.mo_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.tu_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.we_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.th_am %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.fr_am %}◉{% else %}○{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>{% if substitution.mo_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.tu_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.we_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.th_pm %}◉{% else %}○{% endif %}</td>
                                    <td>{% if substitution.fr_pm %}◉{% else %}○{% endif %}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                  <th scope="row" style="width: 30%;">Teilübernahme möglich:</th>
                  <td style="width: 70%;">{{ substitution.partial_substitution_possible  | boolean_to_ja_nein}}</td>
              </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Fächer:</th>
                    <td style="width: 70%;">{{ substitution.subjects }}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 30%;">Ort:</th>
                    <td style="width: 70%;">{{ substitution.school.location }}</td>
                </tr>
                <tr>
                    <th style="width: 30%;">Bewerben</th>
                    <td style="width: 70%;">
                      <form action="{% url 'substitution_candidates_list' %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex mt-2">
                          <input type="hidden" name="substitution_id" value="{{ substitution.id }}">
                          <button type="submit" name="action" value="send_email" class="btn btn-outline-primary me-2">
                            <i class="fas fa-envelope"></i>
                          </button>
                          <button type="submit" name="action" value="send_whatsapp" class="btn btn-outline-success">
                            <i class="fab fa-whatsapp"></i>
                        </button>
                        </div>
                        </form>
                    </td>
                </tr>
            </table>
            <button class="btn btn-link mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ substitution.id }}" aria-expanded="false" aria-controls="collapse{{ substitution.id }}">
                Weitere Infos
            </button>
            <div class="collapse" id="collapse{{ substitution.id }}">
                <div class="card card-body">
                    <!-- Additional information goes here -->
                    <p>{{substitution.summary}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
