{% extends "base.html" %} {% load static %} {% block content %}
<div class="info-container">
  <h2>Lehrkraft</h2>
  <table class="info-table">
    <tr>
      <th>ID:</th>
      <td>{{ teacher.id }}</td>
    </tr>
    <tr>
      <th>Nachname:</th>
      <td>{{ teacher.last_name }}</td>
    </tr>
    <tr>
      <th>Vorname:</th>
      <td>{{ teacher.first_name }}</td>
    </tr>
    <tr>
      <th>Geschlecht:</th>
      <td>{{ teacher.gender.name }}</td>
    </tr>
    <tr>
      <th>Jahrgang:</th>
      <td>{{ teacher.year_of_birth }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ teacher.email }}</td>
    </tr>
    <tr>
      <th>Telefon:</th>
      <td>{{ teacher.phone_number }}</td>
    </tr>
  </table>
</div>

<br /><br />
<div class="container mt-5">
  <!-- Tab links -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="certificates-tab"
        data-bs-toggle="tab"
        href="#certificates"
        role="tab"
        aria-controls="certificates"
        aria-selected="true"
        >Abschlüsse</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="substitution-tab"
        data-bs-toggle="tab"
        href="#substitutions"
        role="tab"
        aria-controls="substitutions"
        aria-selected="false"
        >Stellvertretungen</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="subjects-tab"
        data-bs-toggle="tab"
        href="#subjects"
        role="tab"
        aria-controls="subjects"
        aria-selected="false"
        >Fächer</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="timetable-tab"
        data-bs-toggle="tab"
        href="#timetable"
        role="tab"
        aria-controls="timetable"
        aria-selected="false"
        >Stundenplan</a
      >
    </li>
  </ul>

  <!-- Tab content -->
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="certificates"
      role="tabpanel"
      aria-labelledby="certificates-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Jahr</th>
            <th>Abschluss</th>
          </tr>
        </thead>
        <tbody>
          {% for certificate in teacher.certificates.all %}
          <tr>
            <td>{{ certificate.year }}</td>
            <td>{{ certificate.certificate.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  
  <div
      class="tab-pane fade"
      id="substitutions"
      role="tabpanel"
      aria-labelledby="substitution-tab"
  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Schule</th>
          <th>Von</th>
          <th>Bis</th>
          <th>Vertretung von</th>
        </tr>
      </thead>
      <tbody>
        {% for substitution in teacher.teacher_substitutions.all %}
        <tr>
          <td>{{ substitution.school.name }}</td>
          <td>{{ substitution.start_date }}</td>
          <td>{{ substitution.end_date }}</td>
          <td>{{ substitution.teacher.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div
    class="tab-pane fade"
    id="subjects"
    role="tabpanel"
    aria-labelledby="subjects-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fach</th>
            <th>Stufe</th>
          </tr>
        </thead>
        <tbody>
          {% for x in teacher_subjects.all %}
          <tr>
            <td>{{ x.subject.name }}</td>
            <td>{{ x.subject.school_year }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <div
    class="tab-pane fade"
    id="timetable"
    role="tabpanel"
    aria-labelledby="timetable-tab"
    >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Schule</th>
            <th>Wochentag/Lektion</th>
            <th>Periode</th>
            <th>Klasse</th>
            <th>Fach</th>
          </tr>
        </thead>
        <tbody>
          {% for x in lessons.all %}
          <tr>
            <td>{{ x.school.name }}</td>
            <td>{{ x.day.short_name }}</td>
            <td>{{ x.period }}</td>
            <td>{{ x.school_class.name }}</td>
            <td>{{ x.subject.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

    
    <a href="{% url 'teacher_list' %}" class="btn btn-primary">Zurück</a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
