{% extends "base.html" %}
{% block title %}Lehrkraft-Stellvertretung{% endblock title %}

{% block content %}
<div class="table-container">
    <h1>Lehrkräfte ({{ teachers|length }})</h1>
    <br>
    <table id="teachers" class="table table-striped">
        <form method="get" action="">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Schule</th>
                    <th>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-filter"></i>
                        </button>
                        </th>
                <tr> <!-- Filter inputs row -->
                    <th>
                        <input type="text" name="name_filter" value="{{ request.GET.name_filter }}" placeholder="Name filtern">
                    </th>
                    <th>
                        <input type="text" name="first_name_filter" value="{{ request.GET.first_name_filter }}" placeholder="Vorname filtern">
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <input type="text" name="school_name_filter" value="{{ request.GET.school_name_filter }}" placeholder="Schule filtern">
                    </th>        
                </tr>
            
            </thead>
        </form>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>
                        <a href="{% url 'school_management:teacher_detail' pk=teacher.teacher__id %}" title="Lehrperson Detailansicht">
                            {{ teacher.teacher__last_name }}
                        </a>
                    </td>
                    <td>{{ teacher.teacher__first_name }}</td>
                    <td>{{ teacher.teacher__phone_number }}</td>
                    <td>{{ teacher.teacher__email}}</td>
                    <td>{{ teacher.school__name }}</td>
                    <td><a href="{% url 'school_management:teacher_edit' pk=teacher.teacher__id %}" title="Lehrkraft editieren"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>  
{% endblock %}
